{% extends "layout.html" %} 

{% load static %}

{% block css_files %}
    <link rel="stylesheet" href=" {% static "courses/css/style.css" %} ">
{% endblock css_files %}

{% block page_title %}
    Create Course
{% endblock page_title %}

{% block content %}
    <div class="container mt-3">
        <div class="row">
            <div class="col-12">

                {% if error %}
                    <div class="alert alert-danger">
                        Formu eksiksiz doldurunuz.
                    </div>
                {% endif %}

                <form action="{% url "create_course" %}" method="POST">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="title" class="form-label">Title</label>
                        <input type="text" name="title" class="form-control">
                    </div>
                    <div class="mb-3">
                        <label for="description" class="form-label">Description</label>
                        <textarea name="description" class="form-control"></textarea>
                    </div>
                    <div class="mb-3">
                        <label for="imageUrl" class="form-label">ImageUrl</label>
                        <input type="text" name="imageUrl" class="form-control">
                    </div>
                    <div class="mb-3">
                        <label for="slug" class="form-label">Slug</label>
                        <input type="text" name="slug" class="form-control">
                    </div>
                    <div class="form-check mb-3">
                        <input type="checkbox" name="isActive" class="form-check-input">
                        <label for="isActive" class="form-check-label">Is Active</label>
                    </div>
                    <div class="form-check mb-3">
                        <input type="checkbox" name="isHome" class="form-check-input">
                        <label for="isHome" class="form-check-label">Is Home</label>
                    </div>
                    <button type="submit" class="btn btn-primary">Kaydet</button>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}

{% block js_files %}
    <script src="{% static "courses/js/script.js" %}"></script>
{% endblock js_files %}
