{% load static %}

<div class="carousel slide mb-3" id="slider" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="{% static "courses/img/python.png" %}" class="d-block w-100" alt="">
        </div>
        <div class="carousel-item">
            <img src="{% static "courses/img/php.png" %}" class="d-block w-100" alt="">
        </div>
        <div class="carousel-item">
            <img src="{% static "courses/img/html.png" %}" class="d-block w-100" alt="">
        </div>
    </div>
</div>
