{% extends "layout.html" %} 

{% block css_files %}
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
    />
{% endblock css_files %}

{% block page_title %}
    Anasayfa
{% endblock page_title %}

{% block content %}
    <div class="container mt-3">
        <div class="row">
        <div class="col-3">
            <!--menu-->
            <div class="list-group">
            <a
                href="kurs/kategori/programlama"
                class="list-group-item list-group-item-action"
                >Programlama</a
            >
            <a
                href="kurs/kategori/web-gelistirme"
                class="list-group-item list-group-item-action"
                >Web Geliştirme</a
            >
            <a
                href="kurs/kategori/mobil-uygulamalar"
                class="list-group-item list-group-item-action"
                >Mobil Uygulamalar</a
            >
            </div>
        </div>
        <div class="col-9">
            <!--content-->
            <h1>Anasayfa</h1>
            <i class="fa-solid fa-folder-open"></i>
        </div>
        </div>
    </div> 
{% endblock content %}


